@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap");

$title-page:'Black Ops One', cursive;
$beer-name-font: "Bebas Neue", cursive;
$beer-tagline-font: "Indie Flower", cursive;

$background-color: #002b5b;
$card-color: #8fe3cf;
